<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> leaflet node</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
   
        <div><h1>Latitud y Longitud</h1></div>
   
<div id="map-template"></div>
<div class="grid">   
        <div class= "coords">
            <h1>Lat. <span id='lat'></span></h1>
                <div id="logo">
                    <img src="img/iss.png">
                  </div>
                  <h1>Long.<span id='lng'></span></h1>
        </div>
        
            <div class= "coords">
                <h1>Long.<span id='lng'></span></h1>
                    
                    <div id="logo">
                    <img src="img/Walk-logo.png">
                    </div>
                    <h1>Long.<span id='lng'></span></h1>
            </div>
         
    
</div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    
</body>

</html>