<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> leaflet node</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
<div class="grig">
    <div id="map-template"></div>
        <div class= "coords">
            <h1>Latitu y Longitud</h1>
            <div id="lat">
                </div>
            <div id="lng">
                </div>
    </div>
</div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    
</body>

</html>