    body {
        margin: 0;
        padding: 0;
    }
    .grid {
        display: grid;
        grid-template-columns: 70% 20%;
    }
    
    #map-template {
        width: 100%;
        height: 400px;
        padding: 5px;
        top: 0;
        background: #333;
    }
    
    .coords {
        background:yellowgreen;
    }